<header class="hp-header">
  <div class="hp-header__inner">
    <a class="hp-header__logo" href="index.html">
      <img src="img/assets/media/homePage/vb-logo.png" alt="VB Studio"/>
    </a>
    <nav class="hp-header__nav">
      <a href="index.html"      class="hp-header__nav-link" data-nav-page="home">Home</a>
      <a href="portfolio.html"  class="hp-header__nav-link" data-nav-page="portfolio">Portfolio</a>
      <a href="about-us.html"      class="hp-header__nav-link" data-nav-page="about">About Us</a>
      <a href="contact-us.html"   class="hp-header__nav-link" data-nav-page="contact">Contact Us</a>
    </nav>
    <div class="hp-header__burger" id="hp-burger">
      <span></span><span></span><span></span>
    </div>
  </div>
  <!-- Mobile menu overlay -->
  <div class="hp-mobile-menu" id="hp-mobile-menu">
    <nav class="hp-mobile-menu__nav">
      <a href="index.html"     class="hp-mobile-menu__link">Home</a>
      <a href="portfolio.html" class="hp-mobile-menu__link">Portfolio</a>
      <a href="about-us.html"     class="hp-mobile-menu__link">About Us</a>
      <a href="contact-us.html"  class="hp-mobile-menu__link">Contact Us</a>
    </nav>
  </div>
</header>
